body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#Btn-container > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden {
  /*
  To be used for the stop and start buttons -> remove it from the page strucutre 
  */
  display: none;
}


img{
  /*Make all images invisible -> hidden but still in the page structure*/
  visibility: hidden;
}



#btn-1 {
  background-color: lightgreen;
}

#btn-1:active, #btn-1.lit {
  
 background-color: green;
  
}

#btn-2 {
  background-color: lightblue;
}

#btn-2:active, #btn-2.lit {
  
 background-color: blue;
  
}

#btn-3 {
  background-color: pink;
}

#btn-3:active, #btn-3.lit {
  
 background-color: red;
  
}

#btn-4 {
  background-color: lightyellow;
}

#btn-4:active, #btn-4.lit {
  
 background-color: yellow;
  
}

#btn-5 {
  background-color: coral;
}

#btn-5:active, #btn-5.lit{
  background-color: brown;
}

/*
Color is already good no need to change
#btn-6{
  background-color: grey;
}
*/

#btn-6:active, #btn-6.lit{
  background-color: grey;
}

button:active > img, button.lit > img{
  visibility: visible;
}

#mistakes-cnt {
  color: white;
  font-size: 250%;
}

#score-info{
  position: absolute;
  right: 10px;
  top: 15px;
}

#info-container {
  position: relative;
  width: 80%;
}

#score-val{
  color: lightgreen;
}

#myRange {
  
  /* need to change slider color */
  
}

